<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://external-preview.redd.it/qW5sXZSe_7w815bbdJh3mwhzBxyEdK13fFyRs3_8ZdQ.jpg?width=640&crop=smart&auto=webp&s=53d250c9db70f2b0fe7a93de0cf57e7f7ffc2a06"
    alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versao do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec arcu sed ipsum luctus egestas. Duis pharetra erat et facilisis fermentum. Fusce tempor nec sem nec aliquet. Morbi rhoncus massa id urna bibendum scelerisque.</a></p>
  </div>
</div>
